body{
	background-color: #CCCCCC;
}

div#formation {
	background-color: #FF3333;
	color: white;
	text-align: justify;
	width: 820px;
	height: 160px;
	padding-top: 0,75px;
}

div#experiences {
	background-color: #FF3333;
	color: white;
	text-align: justify;
	width: 820px;
	height: 210px;
	padding-top: 0,75px;
}

p{
	font-family: "Century Gothic";
	font-size: 15px; 
	margin-left: 30px;
}

h1{
	font-size: 25px;
	font-family: "Century Gothic";
	text-align: center;
}

h2{
	font-family: "Century Gothic";
	font-size: 20px;
	margin-left: 10px;
}

.roundedcorner {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}

#image {
	float: left;
}

#contact {
	text-align: right;
	margin-left: 20px;
}