body{
	background-image: url(http://idata.over-blog.com/2/18/00/83/SP_Promise_Paper_Sunshine.jpg);
}

#formation {
	border-style: dotted;
	border-color: red;
	text-align: justify;
	width: 820px;
	height: 180px;
	padding-top: 0,95px;
}

#experiences {
    border-style: dotted;
    border-color: red;
	text-align: justify;
	width: 820px;
	height: 430px;
	padding-top: 0,75px;
}

#competences {
	text-align: justify;
	width: 820px;
	margin-left: 250px;
	border-left-style: dotted;
	border-left-width: 5px;
	border-left-height: 100px;
}

#centres {
	text-align: justify;
	width: 820px;
	margin-left: 250px;
	border-left-style: dotted;
	border-width: 5px;
}

p{
	font-family: "Century Gothic";
	font-size: 15px; 
	margin-left: 30px;
}

h1{
	font-size: 25px;
	font-family: "Century Gothic";
	text-align: left;
}

h2{
	font-family: "Century Gothic";
	font-size: 20px;
	margin-left: 10px;
	text-shadow: 0px 2px 0px #A9A9A9 ;
}

.roundedcorner {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}

#image {
	float: left;
}

#contact {
	text-align: left;
	width: 300px;
	height: 194px;
	margin-left: 250px;
	margin-top: 10px;
	background-image: url(http://upload.wikimedia.org/wikipedia/commons/e/e5/Post-it-note-transparent.png);
	background-size: 310px 230px; 
	background-repeat: no-repeat;
	background-position: -5px -25px;
}

.mission {
	font-style: italic;
	margin-left: 40px;
}

#twitter {
	width: 80px;
	height: 80px;
	margin-left: 30px;
}

#viadeo {
	width: 80px;
	height: 80px;
}

#facebook {
	width: 80px;
	height: 80px;
}

ul#navigation {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 0px;
    right: 10px;
    list-style: none;
    z-index:999999;
    width:721px;
}

ul#navigation li {
    width: 103px;
    display:inline;
    float:left;
}

ul#navigation li {
    display: block;
    float: left;
    margin-top: -2px;
    width: 100px;
    height: 25px;
    background-color: #D2B48C;
    background-repeat: no-repeat;
    background-position: 50% 10px;
    border: 1px solid #BDDCEF;
    text-decoration: none;
    text-align: center;
    padding-top: 80px;
}

ul#navigation li {
    display: block;
    float:left;
    margin-top: -2px;
    width: 100px;
    height: 25px;
    background-color:#DEB887;
    background-repeat:no-repeat;
    background-position:50% 10px;
    border:1px solid #BDDCEF;
    text-decoration:none;
    text-align:center;
    padding-top:80px;
    -moz-border-radius:0px 0px 10px 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    -khtml-border-bottom-left-radius: 10px;
    opacity: 0.7;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}

ul#navigation .Accueil a{
    background-image: url(../images/home.png);
}
ul#navigation .Articles a      {
    background-image: url(../images/id_card.png);
}
ul#navigation .Recommandations a      {
    background-image: url(../images/search.png);
}
ul#navigation .Projets a      {
    background-image: url(../images/ipod.png);
}
ul#navigation .Contacter a   {
    background-image: url(../images/rss.png);
}


ul#navigation li :hover{
     background-color:#D2B48C;
}

ul#navigation li span{
    letter-spacing:2px;
    font-size:11px;
    color:#60ACD8;
    text-shadow: 0 -1px 1px #fff;
}

