body{
	background-image: url(http://idata.over-blog.com/2/18/00/83/SP_Promise_Paper_Sunshine.jpg);
}

#formation {
	border-style: dotted;
	border-color: red;
	text-align: justify;
	width: 820px;
	height: 180px;
	padding-top: 0,95px;
}

#experiences {
    border-style: dotted;
    border-color: red;
	text-align: justify;
	width: 820px;
	height: 430px;
	padding-top: 0,75px;
}

#competences {
	text-align: justify;
	width: 820px;
	margin-left: 250px;
	border-left-style: dotted;
	border-left-width: 5px;
	border-left-height: 100px;
}

#centres {
	text-align: justify;
	width: 820px;
	margin-left: 250px;
	border-left-style: dotted;
	border-width: 5px;
}

p{
	font-family: "Century Gothic";
	font-size: 15px; 
	margin-left: 30px;
}

h1{
	font-size: 25px;
	font-family: "Century Gothic";
	text-align: center;
}

h2{
	font-family: "Century Gothic";
	font-size: 20px;
	margin-left: 10px;
	text-shadow: 0px 2px 0px #A9A9A9 ;
}

.roundedcorner {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}

#image {
	float: left;
}

#contact {
	text-align: left;
	width: 300px;
	height: 194px;
	margin-left: 250px;
	margin-top: 10px;
	background-image: url(http://upload.wikimedia.org/wikipedia/commons/e/e5/Post-it-note-transparent.png);
	background-size: 310px 230px; 
	background-repeat: no-repeat;
	background-position: -5px -25px;
}

.mission {
	font-style: italic;
	margin-left: 40px;
}

#twitter {
	width: 80px;
	height: 80px;
	margin-left: 30px;
}

#viadeo {
	width: 80px;
	height: 80px;
}

#facebook {
	width: 80px;
	height: 80px;
}